* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

:root {
    /* colors */
    --primary-color: #2D89EF;
    --secondary-color: #F4A261;
    --accent-color: #E76F51;
    --background-color: #F9F9F9;
    --alt---background-color: #EFEFEF;
    --nav-background-color: #264653;

    /* text color */
    --text-color: #1E1E1E;
    --secondary-text-color: #5C5C5C;
    --nav-text-color: #FFFFFF;
    --nav-text-hover-color: #F4A261;

    /* border */
    --border: solid 1px #DADADA;
    --border-light: solid 1px #EAEAEA;
    --border-highlight: solid 1px #2D89EF;
}

body {
    max-width: 840px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    display: grid;
    grid-template-columns: 60px .5fr 1fr 60px;
    gap: .5rem;
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
}

nav {
    display: block;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

li {
    list-style: none;
}

nav a {
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: var(--nav-text-color);
}

section {
    padding: 1rem;
    border: var(--border-highlight);
}

button,
.hero-container a {
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 10px;
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

form {
    max-width: 450px;
    padding: 1rem;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--alt---background-color);
}

form label,
form input,
form select,
form textarea {
    display: block;
    width: 100%;
    max-width: 100%;
}

form input,
form select,
form textarea {
    margin: .3rem 0 1rem;
    padding: .5rem;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-top: var(--border);
}

dialog {
    margin: 25% auto;
    padding: 1rem;
    max-width: 40ch;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
}

dialog[open] {
    background-color: var(--background-color);
    border-radius: 5px;
}

dialog .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: var(--background-color);
    color: red;
}

dialog::backdrop {
    background: rgb(0 0 0 / 70%);
}

dialog p {
    margin-top: .5rem;
}

/* class */
.spacer {
    margin: 1rem;
}

.center {
    display: block;
    width: fit-content;
    margin: 0 auto
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: block;
    width: 60px;
    height: auto;
    padding: 1rem 0 0 1rem;
}

.hamburger-button {
    display: none;
    padding: 1rem;
    margin-top: .5rem;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    border: none;
    font-size: xx-large;
}

.icon {
    width: 44px;
    height: auto;
    padding: .3rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .3rem;
}

.row:nth-child(even) {
    background-color: var(--alt---background-color);
}

.hero-container {
    position: relative;
    width: 100%;
    height: fit-content;
}

.hero-container h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
}

.hero-container img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-container section {
    display: block;
    position: absolute;
    width: 320px;
    height: fit-content;
    background-color: rgb(249 249 249 / .9);
    text-align: center;
    bottom: 20px;
    right: 20px;
}

.hero-container a {
    display: block;
    padding: 1.2rem 1.5rem;
    margin-bottom: .5rem;
    text-decoration: none;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    margin: 1rem 0;
    gap: .5rem;
}

.events img {
    width: 150px;
    height: auto;
    margin: 1rem 0;
}

.events p {
    width: 150px;
}

.forecast p {
    font-size: medium;
}

.showcase {
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.showcase section {
    max-width: 250px;
}

.showcase img {
    width: 60px;
    height: auto;
    margin: .5rem;
}

/* form grid */

.form-membership-grid {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: .7fr 1fr .7fr;
}

.member-level-container h2 {
    margin-top: 6rem;
}

.member-levels {
    border-radius: 5px 20px 5px 20px;
    margin: 1rem;
}

.member-levels p {
    width: fit-content;
    padding: .3rem;
    border: var(--border);
    margin-top: .5rem;
    background-color: var(--alt---background-color);
}

/* id */

#title {
    padding: .5rem 0 .5rem 1rem;
    color: var(--nav-text-color);
}

#titulo {
    width: fit-content;
    margin: 1rem auto;
}

#current-page {
    border-bottom: 3px solid var(--nav-text-color);
}

#cards {
    border: var(--border);
}

#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
}

#cards h2 {
    margin-bottom: .5rem;
}

#weather-icon {
    width: 100px;
    height: auto;
    padding: 0;
    margin: 0;
}

#submit-button {
    width: 100%;
    margin: 1rem 0;
}

/* pseudo */
nav a:hover {
    border-bottom: var(--border-light);
}

button:hover,
a:hover,
.member-levels p:hover {
    filter: brightness(1.1);
}

.hamburger-button:hover {
    filter: brightness(1.0);
}

button:active,
a:active,
.member-levels p:active {
    transform: scale(.95);
}

.location::before {
    content: "📍";
}

/* animations */

@keyframes appearFromBelow {
    from {
        opacity: 0;
        transform: translateY(30px);
        background-color: var(--alt---background-color);
        /* start 30px lower */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        background-color: var(--background-color);
    }
}

.appear-animation {
    opacity: 0;
    animation: appearFromBelow 0.6s ease-out forwards;
}

.delay-slight {
    animation-delay: 0.2s;
}

.delay-medium {
    animation-delay: 0.4s;
}

.delay-long {
    animation-delay: 0.6s;
}