* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Exo 2", sans-serif;
}

:root {
    /* colors */
    --primary-color: #0077B6;
    --secondary-color: #90E0EF;
    --accent-color: #FFB703;
    --background-color: #F8FAFC;
    --alt-background-color: #E5E7EB;
    --nav-background-color: #023047;

    /* text color */
    --text-color: #1F2937;
    --secondary-text-color: #6B7280;
    --nav-text-color: #FFFFFF;
    --nav-text-hover-color: #FFB703;

    /* border */
    --border: solid 1px #D1D5DB;
    --border-light: solid 1px #E5E7EB;
    --border-highlight: solid 1px #0077B6;
}

body {
    max-width: 840px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    display: grid;
    grid-template-columns: .4fr 1fr;
    width: 100%;
    padding: 1rem;
    height: fit-content;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: x-large;
}

section {
    padding: 1rem;
    border: var(--border-highlight);
    border-radius: 8px;
}

form {
    max-width: 450px;
    border-radius: 10px;
    background-color: var(--alt---background-color);
}

form label,
form input {
    display: block;
    width: 100%;
    max-width: 100%;
}

form input {
    margin: .3rem 0 1rem;
    padding: .5rem;
}

button {
    cursor: pointer;
    font-size: large;
}

footer {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-top: var(--border);
}

footer p {
    text-align: center;
}

dialog {
    position: relative;
    width: 75%;
    padding: 20px;
    margin: 12% auto;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.3);
    border-radius: 8px;
    background-color: var(--alt-background-color);
}

dialog .closeButton {
    position: absolute;
    padding: 1rem;
    top: 10px;
    right: 10px;
    border: none;
    background-color: var(--alt-background-color);
}

/* class */
.center {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
    height: fit-content;

}

.hero img {
    width: 100%;
}

.hero h2 {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.airportChoice {
    display: grid;
    grid-template-areas:
        "heading heading"
        "weather info";
    gap: 1rem;
    width: 600px;
    margin: 1rem auto;
}

.airportChoice h3 {
    grid-area: heading;
    margin-top: 1rem;
    text-align: center;
}

.airportChoice #weatherButton {
    grid-area: weather;
    width: 250px;
}

.airportChoice #infoButton {
    grid-area: info;
    width: 250px;
}

.mainButton {
    width: 80%;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 10px;
    color: var(--background-color);
    background-color: var(--primary-color);
    transition: transform 0.2s, box-shadow 0.2s;
}

.return {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 1rem auto;
}

/* weather classes */

.card {
    border: var(--border);
    border-radius: 12px;
    background-color: var(--alt-background-color);
    padding: 1rem;
    max-width: 400px;
    margin: 1rem auto;
    font-family: "Roboto Condensed", sans-serif;
}

.card h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.flightCategory {
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--nav-text-color);
    font-weight: bold;
    font-size: 0.9em;
}

.weatherCard p {
    margin: 4px 0;
}

.weatherCard .details p {
    margin-left: 10px;
}


/* id */
#currentPage {
    border-bottom: 2px solid var(--primary-color);
    font-weight: bold;
}

/* pseudo-class */
.mainButton:hover {
    background: #42A5F5;
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgb(0 0 0 / 0.2);
}

.mainButton:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 6px rgba(0 0 0 / 0.2);
}

.closeButton:hover {
    transform: scale(105%);
}

nav a:hover {
    color: var(--nav-text-hover-color);
    transform: translateY(-2px);
}

nav a:active {
    transform: translateY(1px);
    background-color: rgba(255, 183, 3, 0.2);
}

/* pseudo-element */
dialog::backdrop {
    background-color: rgb(0 0 0 / 0.7);
    backdrop-filter: blur(3px);
}